extends layout

block content
  div(class="w3-container w3-padding-16")
    div(class="w3-container w3-center w3-blue")
      h1
        b CLAV
    div(class="w3-container w3-padding-16")
      div(class="w3-container w3-center w3-padding-16 w3-light-grey")
        table(class="w3-hoverable w3-table-all")
            tr
                th 
                    b ID - Termo
                th 
                    b Título da Classe
            each termo in termos
                tr
                    td
                        a(href='/classes/' + termo.idClasse)=termo.idClasse + ': ' + termo.termo
                    td
                        a(href="/classes/"+ termo.idClasse)=termo.tituloClasse
      br
      footer
          div(class="w3-bar")
              a(href="/" class="w3-button w3-blue w3-right") Página Inicial